# name: Update Manifest Reusable

# on:
#   workflow_call:
#     inputs:
#       manifest_file:
#         type: string
#         required: true
#       image_name:
#         type: string
#         required: true
#       image_tag:
#         type: string
#         required: true

# jobs:
#   manifest:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - name: Update deployment image tag
#         run: |
#           yq -i '
#             .spec.template.spec.containers[0].image = 
#             "ghcr.io/'"${{ github.repository_owner }}"'/${{ inputs.image_name }}:${{ inputs.image_tag }}"
#           ' ${{ inputs.manifest_file }}

#       - name: Commit + Push updated manifest
#         uses: stefanzweifel/git-auto-commit-action@v5
#         with:
#           commit_message: "ci: update image for ${{ inputs.image_name }} to ${{ inputs.image_tag }}"
