name: Infrastructure Deploy

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  infra:
    uses: ./.github/workflows/terraform.yml
    with:
      working_directory: terraform
    secrets: inherit
