name: Infrastructure Deploy

on:
  workflow_dispatch:
  push:
    paths:
      - "terraform/**"

jobs:
  infra:
    uses: ./.github/workflows/reusable/terraform.yml
    with:
      working_directory: root-modules/env/dev
    secrets: inherit
