name: Destroy Infrastructure

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      terraform_action:
        description: "Select the Terraform action to perform"
        required: true
        type: choice
        options:
           - "destroy"

env:
  AWS_REGION: us-east-1
  TF_VERSION: "1.6.6"
  AWS_ACCOUNT_ID: 651706774390
  ROLE_NAME: microservices-project-dev-tf-role 
  working_directory: terraform/root-modules/env/dev

permissions:
  id-token: write
  contents: read
  pull-requests: write
  packages: write

jobs:

 
  DestroyInfra:
    runs-on: ubuntu-latest
    environment: dev   # approval required
    if: |
       (github.event_name == 'workflow_dispatch')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.working_directory }}
        run: terraform init -upgrade

      - name: Terraform Destroy
        if: ${{ github.event.inputs.terraform_action == 'destroy' }}
        working-directory: ${{ env.working_directory }}
        run: terraform destroy -auto-approve

       